
<div class="container">
    <div class="spinner-border loader"  style="margin-left: 50%;" *ngIf="isLoading" >

    </div>
<table class="table" *ngIf="!isLoading">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of employees">
        <th scope="row">{{e.id}}</th>
        <td>{{e.firstName}}</td>
        <td>{{e.lastName}}</td>
        <td>{{e.email}}</td>
        <td>{{e.address}}</td>
        <td><button class="btn btn-danger" (click)="onDeleteEmployee(e.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>